@import "tailwindcss";
@import "primeicons/primeicons.css";
@layer base {
    h1 {
        font-size: var(--text-2xl);
        font-weight: 600;
    }
    h2 {
        font-size: 400;
    }
}


/* styles for map */

.cluster-wrapper {
    background: transparent;
}

.cluster {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    background: #1976d2;
    font-weight: 600;
    box-shadow: 0 0 0 4px rgba(25, 118, 210, .3);
}